.column
{
    float: left;
    width: 30.33%;
    margin:16px 2px 16px 2px;
    padding: 0 8px;
}

.card{
    box-shadow: 0 4px 8px 0 red(0,0,0,0.8);
}

img{
    border-radius: 60%;
    padding: 5px;
    margin-left: 60px;
    
}

.title{
    color: #4CAF50;
   
}

.emailid{
width: 50%;
background-color: #4CAF50;
padding: 10px;
font-weight: bold;
color: white;
}